<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <style>
      
     
    </style>
</head>
<body>


<div id="app">
  <div class="header">
  <input type="text" placeholder="Search.." v-model="query" @keyup="search()">
    <div class="content">
    <ul v-for="film in result">
      <li>{{ film.title }}</li>
    </ul>
      <div class="col">
        <h1 class="mb-5">{{ result.Title }}<span class="yellow"> {{ result.imdbRating }}</span></h1>
        <img :src="result.Poster" alt="">
      </div>
      <div class="col">
        <ul>
          <li><h3>{{ result.Genre }}</h3></li>
          <li>{{ result.Released }}</li>
          <li>{{ result.Actors }}</li>
        </ul>
        <button v-if="query" class="btn" @click="show = !show">Show Description</button>
      </div>
      <div class="col"> 
      <div class="description" v-for="( value , title ) in result">
          <h4 v-if="show" class="yellow">{{ title }}:</h4>
          <span v-if="show">{{ value }}</span>
      </div>
     </div>
    </div>
  </div>
</div>

    <script>
        var app = new Vue({
  el: '#app',
  data: {
    query: "",
    result: "",
    show: false,
    randomFilm: null,
    films: null
  },
  methods: {
    search: function(){
      fetch(`http://www.omdbapi.com/?t=${this.query}&apikey=e0215254`)
      .then(result => result.json())
      .then(result => {
        this.result = result
      })
    },
    top10: function(){
      this.randomFilm = `000000${(Math.floor(Math.random()*10) + 1)}`
      fetch(`http://www.omdbapi.com/?i=tt${this.randomFilm}&apikey=e0215254`)
      .then(randomFilm => randomFilm.json())
      .then(randomFilm => {
        this.result = randomFilm
      })
    }
  },
  created(){
    this.top10()
  }
})
    </script>
</body>
</html>